$brand-primary: #1A7DDD;
$brand-success: #55B234;

$font-family-serif: "IBM Plex Serif", serif;
$font-family-sans-serif: "IBM Plex Sans", sans-serif;
$font-size-base: 18px;

$link-color: $brand-primary;

$headings-font-family:    $font-family-sans-serif !default;
$headings-font-weight:    900 !default;
$headings-line-height:    1.1 !default;
$headings-color:          #333;

@import "bootstrap";
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Serif");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");


.wf-loading {
	opacity: 0;
	transition: opacity 1s linear;
}
.wf-active {
	opacity: 1;
}

.strong {
	@extend strong;
}

em, .em {
	font-weight: lighter;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
	letter-spacing: -0.03em !important;
}

.h1 {
	&:after {
		background: #73d7ff33;
		display: block;
		height: 100%;
		max-height: 2em;
		top: 0.25em;
		width: 73%;
		content: "";
		position: absolute;
		left: -23px;
		z-index: -1;
		transform: rotate(2deg)
	}
}

h1 em,
h2 em,
h3 em {
	font-weight: 900;
	font-style: normal;
}

h2, .h2 {
	margin-top: $line-height-computed * 1.25;
}

h3, .h3 {
	margin-top: $line-height-computed;
	font-family: $font-family-sans-serif;
	color: darken(desaturate($brand-primary,70%),20%);
}

h4, .h4 {
	margin-top: $line-height-computed / 2;
	font-family: $font-family-sans-serif;
	color: desaturate($brand-primary,70%);
}

$selection-color: rgba(#ffef00,0.7);

::-moz-selection {
	background-color: $selection-color;
	text-shadow: none;
}

::selection {
	background-color: $selection-color;
	text-shadow: none;
}

a:focus {
	background: $selection-color;
	outline: none;
	box-shadow: 0 0 0px 4px $selection-color;
	text-decoration: none;
	color: #222 !important;
}

a:active {
	box-shadow: none;
	background: none;
	text-decoration: underline;
}

li.active a {
	color: #222;
	font-weight: bold;
}

body {
	font-weight: 300;
	font-family: $font-family-serif;
	font-size: $font-size-base;
	padding-bottom: $font-size-base / 1.5;
	color: desaturate(darken($brand-primary,6%),66%);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-webkit-backface-visibility: hidden; // Addresses a small issue in webkit: http://bit.ly/NEdoDq
	background: url(../images/bg.png) no-repeat right top;
	background-size: 25%;
}

.header {
	margin-top: $padding-large-vertical * 2;
	
	.img-header {
		display: inline;
		width: 70%;
		transform: rotate(-2deg);
		border-radius: 0;
		box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	}
	
	.typed-cursor {
		color: $brand-primary;
		font-weight: 300;
		animation: blink-animation 1.5s steps(2, start) infinite;
	}
	
	@keyframes blink-animation {
		to {
			visibility: hidden;
		}
	}
	@-webkit-keyframes blink-animation {
		to {
			visibility: hidden;
		}
	}
}

.logotype {
	vertical-align: middle;
	display: inline-block;
	margin-bottom: $padding-large-vertical * 3;
	a {
		font-size: $font-size-base * 3;
		
		&:hover {
			text-decoration: none;
		}
	}
}

.logo {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	background: $brand-primary;
	text-align: center;
	width: 80px;
	line-height: 80px;
	transform: rotate(-2deg);
	
	&:before {
		vertical-align: middle;
		font-family: "Permanent Marker";
		font-size: 42px;
		color: #fff;
		content: 'DS';
	}
}

.logo-container {
	margin-bottom: 20px;
}

.footer {
	border-top: 2px solid #222;
	padding-top: $padding-large-vertical * 2;
	margin-top: $padding-large-vertical * 4;
	
	.footer-link {
		display: block;
		text-indent: -9999px;
	}
	
	.link-twitter {
		background: url(../images/logo-twitter.svg);
		$width: 22px;
		$height: 18px;
		background-size: $width $height;
		width: $width;
		height: $height;
	}
	.link-dribbble {
		background: url(../images/logo-dribbble.svg);
		$width: 20px;
		$height: 20px;
		background-size: $width $height;
		width: $width;
		height: $height;
	}
	.link-linkedin {
		background: url(../images/logo-linkedin.svg);
		$width: 20px;
		$height: 20px;
		background-size: $width $height;
		width: $width;
		height: $height;
	}
}

.h-flush-top {
	margin-top: 0;
}

.cv-section {
	margin-top: $padding-large-vertical * 3;
}

