// Required
@import "../node_modules/bootstrap/scss/functions";

// Lora font
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// $font-family-base: 'Fira Sans', sans-serif;
$font-family-base: 'Lora', serif;

$font-size-base: 1.1875rem;

$primary: #243e64;
$link-color: $primary;

// $link-color: #1c62d4;

$body-color: #384042;
$dark: #1e2223;
$secondary: ghostwhite;

// $primary: #FFC300;
// $primary: #ffef16;
// $primary: #FFE0F3;

// $light: rgb(243,244,246);
// $light: rgb(232,230,233);

// $text-muted: #667072;

// $headings-margin-bottom: $spacer;
$headings-font-weight: 800;
// $headings-color: #1a1a1a;

$btn-border-radius: 50px !important;

// $hr-border-color: rgba($black, .1) !default;
// $hr-border-width: $border-width * 2;

// $paragraph-margin-bottom: 1em;
// $lead-font-size: $font-size-base * 1.5;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

// import bootstrap icons font
// $bootstrap-icons-font-src: url("../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2") url("../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff");

// import bootstrap icons
// @import "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

::selection {
    background: #801f7b7c;
    color: black;
}

body.homePage {
    background-image: url('../images/path.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 50%;
}