---
layout: page.njk
title: About – Dan Sensecall
---

{% block content %}
    <section class="bg-transparent py-lg-4 py-0 container" id="introduction">
        <div class="row">
            <div class="col-xl-7 col-md-9 col-lg-8 col-xxl-6 py-md-5 pt-5">
                <h1 class="fs-1 mb-4 lh-1 text-dark">A bit about me</h1>
                <p class="lead fst-italic mb-4">
                    I believe that good design can solve almost any problem, and I'm passionate about using my skills to help people and organisations achieve their goals.
                </p>
                <figure class="figure float-end ps-2 pb-2 ms-2 mb-2 text-end w-25 small">
                    <img src="../images/dan-sensecall.jpg" class="figure-img img-fluid rounded" alt="A photo of Dan Sensecall" width="100%">
                    <figcaption class="figure-caption">Cheesy picture of me.</figcaption>
                </figure>
                <p>
                    I've been working as a designer for about 15 years. In that time, I've worked with a wide range of clients, from small local businesses to large international companies. From 2012 to 2015, I ran a successful mobile app development business.
                </p>
                <p>
                    Since 2015 I've been working on a full-time freelance basis, and since 2018 have been working exclusively within the Public Sector.
                </p>
                <p>
                    I'm currently working with the <a href="https://nationalcrimeagency.gov.uk/" target="_blank" rel="noopener">National Crime Agency</a> as a Service Design consultant.
                </p>
                <h2 class="fs-3 mb-4 lh-1 text-dark mt-5">Away from work</h2>
                <p>
                    Away from work, you can usually find me doing something with my family. With a wife and two young children, there's always something going on.
                </p>
                <p>
                    When I get chance, I enjoy pottering about in the garden, walking the dog, or playing guitar. I'm also a keen cook and enjoy trying out new recipes, though I get less time to enjoy meals out these days.
                </p>
                <p>
                    I don't really have time for social media, but you can find me on <a href="https://www.linkedin.com/in/sensecall/" target="_blank" rel="noopener">LinkedIn</a> and <a href="https://twitter.com/sensecall" target="_blank" rel="noopener">Twitter</a>.
                </p>
            </div>
        </div>
    </section>
{% endblock %}
