---
layout: page
title: Freelance Service designer and UX designer, UK – Dan Sensecall
bodyClasses:
---

{% block content %}
<div class="container">
    <a href="/" class="mt-2 d-block"><span class="text-decoration-none">&laquo;</span> Back</a>

    <section class="my-5 col-md-8 pb-3">
        <h1 class="display-5">
            Service design
        </h1>

        <p class="lead">
            When I join a project as a service design lead, I follow a straightforward approach that focuses on
            understanding the problem, users, constraints, and delivering practical results. Here's how I usually
            approach a project:
        </p>

        <h2 class="fs-4 mt-4">Understanding the Problem Space</h2>
        <p>
            To tackle a project effectively, I collaborate with a team of experts, including user researchers,
            interaction designers, content designers, analysts, and product managers. Together, we dig deep into
            research, engage in discussions, and immerse ourselves in the project's context.
        </p>

        <p>
            This collaboration helps us
            identify the core issues, uncover hidden user needs, and spot opportunities for improvement.
        </p>

        <h2 class="fs-4 mt-4">Understanding Users and their Experiences</h2>
        <p>
            Empathy is at the heart of what we do. Working closely with user researchers, we make it a priority
            to
            genuinely understand users' frustrations, preferences, and desires. We conduct interviews, observe
            their
            behaviors, and involve them in co-creation sessions.
        </p>

        <p>
            By truly putting ourselves in their shoes, we create
            experiences that genuinely add value to their lives.
        </p>

        <h2 class="fs-4 mt-4">Considering Scope and Constraints</h2>
        <p>
            Every project comes with limitations, such as technology, time, budget, and future plans.
            Together with the
            team, we carefully evaluate these constraints to ensure that our design solutions are not only
            desirable but
            also feasible and practical. We strike a balance between user needs and project limitations to
            deliver
            effective outcomes.
        </p>

        <h2 class="fs-4 mt-4">End-to-End Journey Across Touchpoints</h2>
        <p>
            We don't just focus on individual touchpoints; we look at the entire user journey.
            Collaborating with
            interaction designers, we take a holistic approach, considering all the interactions,
            channels, and
            touchpoints users encounter. By mapping these journeys and understanding user pain points,
            we can identify
            gaps and areas for improvement. Our goal is to create seamless experiences that are
            consistent across all
            touchpoints.
        </p>

        <h2 class="fs-4 mt-4">Sharing Progress Frequently</h2>
        <p>
            We believe in keeping everyone on the same page. Throughout the project, we maintain
            regular and transparent
            communication within the team. We share progress updates, insights, and design
            iterations, fostering a
            collaborative environment that encourages feedback and ensures alignment. This allows us
            to make necessary
            adjustments and refine our designs based on valuable input from the team.
        </p>

        <h2 class="fs-4 mt-4">Iterating and Improving</h2>
        <p>
            Design is an iterative process, and we're all about continuous improvement. We
            actively seek feedback from
            users, stakeholders, and our team members, including content designers, analysts,
            and product managers. By
            gathering insights and data, we collectively refine and enhance the design, creating
            experiences that evolve
            over time. This approach helps us stay adaptable and responsive to changing user
            needs and market dynamics.
        </p>

        <p>
            With this practical and straightforward approach, we work collaboratively with a
            diverse team to bring a
            user-centered mindset to service design. Together, we tackle complex problems,
            create impactful solutions,
            and deliver experiences that make a real difference.
        </p>
    </section>
</div>
{% endblock %}