---
eleventyImport:
collections: ["post"]
layout: page.njk
title: About – Dan Sensecall
---

{% block content %}
<section class="bg-transparent py-lg-4 py-0 container" id="introduction">
    <div class="row">
        <div class="col-xl-7 col-md-9 col-lg-8 col-xxl-6 py-md-5 pt-5">
            <h1 class="fs-1 mb-4 lh-1 text-dark">
                Writing
            </h1>

            <p>
                I sometimes write about things that interest me or what I'm working on.
            </p>

            <p>
                At the moment I don't have enough time to write as much as I'd like to, but hopefully that will change in the future.
            </p>

            <figure class="figure mt-4 small">
                <img src="../images/blank-page.jpg" alt="A photo of a blank notebook with a pencil and pencil sharpener." class="img-fluid mb-2">
                <figcaption class="figure-caption text-end">Photo by <a href="https://unsplash.com/@linalitvina?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Angelina Litvin</a> on <a href="https://unsplash.com/photos/K3uOmmlQmOo?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                </figcaption>
            </figure>
        </div>
    </div>
</section>
{% endblock %}