<div class="bg-secondary">
    <footer class="py-5 text-white d-flex justify-content-md-between flex-no-wrap container-lg">
        <img src="../images/ccs-supplier-logo.svg"
             alt=""
             class="mb-3 mb-md-0 me-5 flex-grow"
             width="100px">
        <p class="text-end text-muted small w-auto flex-shrink-1 ms-5">
            UI UX Ltd is a company registered in England and Wales. Company number 09513057.
            <br>
            &copy; UI UX Ltd 2015&thinsp;&ndash;&thinsp;{% year %}
        </p>
    </footer>
</div>