<nav class="py-3 my-3 {{navClasses}}">
    <div class="container">
        <ul class="nav nav-underline d-flex">
            <li class="nav-item me-2 me-lg-4">
                <a href="/" class="nav-link {{'active' if page.url == '/'}}">Home</a>
            </li>
            <li class="nav-item me-1 me-lg-4">
                <a href="/about" class="nav-link {{'active' if '/about' in page.url}}">About <span class="visually-hidden">Dan Sensecall</span></a>
            </li>
            <li class="nav-item me-1 me-lg-4">
                <a href="/projects" class="nav-link {{'active' if 'projects' in page.url}}">Projects</a>
            </li>
            <li class="nav-item me-1 me-lg-4">
                <a href="/writing" class="nav-link {{'active' if 'writing' in page.url}}">Writing</a>
            </li>
            <li class="nav-item ms-auto">
                <a href="#experimentsSection" class="nav-link" id="experimentsToggle" data-bs-toggle="collapse" data-bs-target="#experimentsSection" aria-expanded="false" aria-controls="experimentsSection" title="Experiments">🧪 <span class="visually-hidden">Experiments</span></a>
            </li>
        </ul>
    </div>
</nav>
