<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>
        {{ title }}
    </title>
    <meta name="description"
        content="Freelance Service designer and UX designer from the UK. I help organisations solve complex problems by designing services that meet user needs." />
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="rgb(243,244,246)">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="images/favicon.ico">
</head>