<nav class="py-3 my-3 {{navClasses}}">
    <div class="container d-flex flex-wrap align-items-center">
        <a class="navbar-brand me-4 d-flex align-items-center" href="/">
            <img src="/images/dan-sensecall.jpg" alt="Dan Sensecall" width="30" height="30"
                class="d-inline-block rounded-circle">
        </a>

        <ul class="nav nav-underline me-auto">
            <li class="nav-item me-3">
                <a href="/" class="nav-link p-0 {{'active' if page.url == '/'}}">Home</a>
            </li>
            <li class="nav-item me-3">
                <a href="/about" class="nav-link p-0 {{'active' if '/about' in page.url}}">About <span
                        class="visually-hidden">&nbsp;Dan Sensecall</span></a>
            </li>
            <li class="nav-item me-3">
                <a href="/writing" class="nav-link p-0 {{'active' if 'writing' in page.url}}">Writing</a>
            </li>
        </ul>
    </div>
</nav>