<!DOCTYPE html>
<html lang="en" class="h-full no-js">
    {% include "partials/head.njk" %}
    {% set navAccent = page.url | currentNavAccent %}
    <body class="bg-white dark:bg-gray-950 min-h-full flex flex-col {{ bodyClasses }}"{% if navAccent %} style="--nav-accent: var(--palette-{{ navAccent }})"{% endif %}>
        {% block header %}
            {% include "partials/header.njk" %}
        {% endblock %}
        
        {% block main %}
            <main class="container mx-auto px-4 md:px-8 flex-grow">
                {{ content | safe }}
            </main>
        {% endblock %}
        
        {% block footer %}
            {% include "partials/footer.njk" %}
        {% endblock %}
    </body>
</html>
