<!DOCTYPE html>
<html lang="en-GB" class="h-full">
    {% include "_includes/partials/head.njk" %}
    <body class="min-h-full flex flex-col">
        {% block header %}
            {% include "_includes/partials/header.njk" %}
        {% endblock %}
        
        {% block main %}
            <main class="flex-grow" id="main-content">
                {% block content %}
                {% endblock %}
            </main>
        {% endblock %}
        
        {% block footer %}
            {% include "_includes/partials/footer.njk" %}
        {% endblock %}
        
        {% if not isProd %}
        <script>
          // Enable live reload in development
          document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
          ':3000/browser-sync/browser-sync-client.js"></' + 'script>')
        </script>
        {% endif %}

        {% block pageScripts %}
        {% endblock %}
    </body>
</html>
