<!DOCTYPE html>
<html lang="en" class="h-full">
    {% include "partials/head.njk" %}
    <body class="bg-white dark:bg-slate-800 min-h-full flex flex-col {{ bodyClasses }}">
        {% block header %}
            {% include "partials/header.njk" %}
        {% endblock %}
        
        {% block main %}
            <main class="container mx-auto px-4 flex-grow">
                {{ content | safe }}
            </main>
        {% endblock %}
        
        {% block footer %}
            {% include "partials/footer.njk" %}
        {% endblock %}
    </body>
</html>
