---
layout: base.njk
---

<div class="py-8 lg:py-12">
    <div class="max-w-4xl">
        <p class="body-s mb-8">
            <a href="/writing" class="text-link inline-flex items-center">
                <svg aria-hidden="true" class="w-4 h-4 mr-1 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                Back to writing
            </a>
        </p>

        <p class="body-s mb-2">
            {{ date | niceDate }}
        </p>

        <article class="prose dark:prose-invert md:prose-lg max-w-none">
            {{ content | safe }}
        </article>

        <hr class="my-8 border-gray-200 dark:border-gray-800">

        <div class="flex justify-between items-center">
            {% set previousPost = collections.post | getPreviousCollectionItem(page) %}
            {% set nextPost = collections.post | getNextCollectionItem(page) %}

            <div class="flex-1">
                {% if previousPost %}
                    <p class="body-s">Previous post</p>
                    <a href="{{ previousPost.url }}" class="text-link inline-flex items-center">
                        <svg aria-hidden="true" class="w-4 h-4 mr-1 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                        </svg>
                        {{ previousPost.data.title }}
                    </a>
                {% endif %}
            </div>

            <div class="flex-1 text-right">
                {% if nextPost %}
                    <p class="body-s">Next post</p>
                    <a href="{{ nextPost.url }}" class="text-link inline-flex items-center justify-end">
                        {{ nextPost.data.title }}
                        <svg aria-hidden="true" class="w-4 h-4 ml-1 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                        </svg>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
