---
---

<!DOCTYPE html>
<html lang="en">
    {% include "head.html" %}
    {% block body %}
        <body class="{{ bodyClasses }}" id="top">
            {% block header %}
                {% include "header.html" %}
            {% endblock %}
            {% block main %}
                <main>
                    {{ content | safe }}
                </main>
            {% endblock %}
            {% block footer %}
                {% include 'footer.html' %}
            {% endblock %}
        </body>
    {% endblock %}
</html>
