---
layout: page.njk
title: Discovery Stage
permalink: /services/discovery-stage/
description: The discovery stage is where we get to know your project and your users, and get to grips with understanding the problem you're trying to solve.
service: true
collection: services
---

<div class="py-8 lg:py-12 max-w-7xl mx-auto">
    <div class="flex flex-col lg:flex-row">
        <div class="lg:w-2/3 lg:pr-8">
            <h1 class="text-3xl md:text-5xl mb-6 leading-tight text-gray-900 dark:text-white font-black font-serif border-b-4 border-pink-500 pb-2 inline-block">
                Discovery Stage
            </h1>
            
            <p class="text-2xl md:text-3xl text-gray-700 dark:text-gray-200 italic font-serif mb-10">
                At the start of a project, it's important we get to know your project and your users, and get to grips with understanding the problem you're trying to solve.
            </p>
            
            <article class="prose prose-lg dark:prose-invert max-w-none">
                <!-- What is section -->
                <section aria-labelledby="what-is-prototyping">
                    <h2 id="what-is-prototyping" class="text-2xl md:text-3xl font-serif font-bold mb-4 text-gray-900 dark:text-white">
                        What is the discovery stage and how can it help?
                    </h2>
                    <p class="text-gray-700 dark:text-gray-300 text-lg md:text-xl mb-6">
                        The discovery stage is all about getting to know what users need and what the project aims to achieve. We gather valuable insights through thorough research and analysis, which helps us pinpoint key challenges and areas for improvement.
                    </p>
                    <p class="text-gray-700 dark:text-gray-300 text-lg md:text-xl mb-6">
                        We begin by clearly defining the problem. This means having conversations with both stakeholders and users. We collect data through interviews and surveys to ensure we have a solid understanding.
                    </p>
                    <p class="text-gray-700 dark:text-gray-300 text-lg md:text-xl mb-6">
                        After collecting data, we analyse it to spot patterns. This analysis helps us grasp user behaviour and needs. We then create user personas to inform our design choices.
                    </p>
                    <p class="text-gray-700 dark:text-gray-300 text-lg md:text-xl mb-6">
                        Finally, we compile our findings into a report. This document includes insights and recommendations, acting as a guide for the next steps in the project.
                    </p>
                    <p class="text-gray-700 dark:text-gray-300 text-lg md:text-xl mb-6">
                        Discover more about our <a href="/services/user-research/" class="text-primary-600 hover:text-primary-700 dark:text-primary-400 dark:hover:text-primary-300 underline">user research</a> and <a href="/services/ux-design/" class="text-primary-600 hover:text-primary-700 dark:text-primary-400 dark:hover:text-primary-300 underline">UX design</a> services.
                    </p>
                </section>
            </article>
            <div class="bg-pink-500 text-white p-6 mt-8 lg:mt-12 pb-8 rounded-xl">
                <h3 class="text-xl lg:text-2xl font-bold mb-2">Ready to start your project?</h3>
                <p class="mb-4 lg:mb-6 text-lg lg:text-xl">Contact us today to discuss how we can help you in the discovery stage.</p>
                <a href="/contact/" class="px-4 py-2 bg-white text-pink-500 rounded-md hover:bg-pink-100">Get in touch</a>
            </div>
        </div>
        
        {% include 'partials/_related-articles.njk' %}
    </div>
</div>