---
eleventyImport:
    collections: ["post"]
layout: base.njk
title: Freelance Service designer and UX designer, UK – Dan Sensecall
description: Freelance service designer and UX consultant helping UK organisations design user-centred digital services. Specialising in government and public sector projects.
permalink: /
---

<section id="introduction"
         aria-labelledby="introduction-title"
         class="py-4 pt-8">
    <div class="max-w-4xl">
        <p class="kicker mb-4 flex items-center">
            <img src="/assets/images/dan-sensecall.jpg"
                 alt="Dan Sensecall"
                 class="rounded-full mr-2 lg:mr-3 shadow-sm w-10 h-10 md:w-12 md:h-12"
                 width="64"
                 height="64">
            <span class="ml-2 font-light">Hi! I'm Dan Sensecall.</span>
        </p>
        <h1 id="introduction-title"
            class="heading-l mb-6 lg:w-4/5 drop-shadow-sm">
            Freelance service designer and user experience consultant from the UK.
        </h1>
        <p class="body-l mb-4">
            For almost 15 years, I’ve helped teams turn <b>messy policy, legacy constraints and operational reality</b> into services that work for citizens and the public sector workers who serve them.
        </p>
    </div>
</section>
<section id="clients">
    <div class="flex flex-col gap-6 md:gap-12">
        <div class="lg:w-2/3 order-2 md:order-2">
            <h2 class="md:mb-4 heading-m sr-only md:not-sr-only">
                Clients I've worked with
            </h2>
            <p class="body-m mb-4">
                Over the past 15 years, I've worked with a range of clients, from startups to government
                departments, to improve their products and services. Since 2018, I've worked exclusively with Public Sector organisations to design services for
                citizens and internal users.
            </p>
        </div>
        <div class="lg:w-2/3 order-1 md:order-3 grid grid-cols-3 sm:grid-cols-3 md:grid-cols-4 gap-x-2 gap-y-5 sm:gap-x-4 sm:gap-y-6 md:gap-y-8 py-4 md:py-0">
            {% for logo in collections.logos %}
                <div class="flex items-center justify-start"
                     role="img"
                     aria-label="{{ logo.name }}">
                    <img src="/assets/images/clients/{{ logo.image | replace('.svg', '--dark.svg') if (logo.image.endsWith('.svg')) else logo.image }}"
                         alt="{{ logo.name }} logo"
                         width="100"
                         height="50"
                         class="hidden dark:block w-full max-w-[90px] sm:max-w-[100px] md:max-w-[120px] lg:max-w-[120px] xl:max-w-[140px] 2xl:max-w-[160px] h-auto object-contain" />
                    <img src="/assets/images/clients/{{ logo.image }}"
                         alt="{{ logo.name }} logo"
                         width="100"
                         height="50"
                         class="dark:hidden w-full max-w-[90px] sm:max-w-[100px] md:max-w-[120px] lg:max-w-[120px] xl:max-w-[140px] 2xl:max-w-[160px] h-auto object-contain" />
                </div>
            {% endfor %}
        </div>
        <div class="lg:w-2/3 order-3 md:order-1">
            <p class="body-m mb-2">Typically, I help with things like:</p>
            <ul class="list-disc pl-5 body-m">
                <li>service design</li>
                <li>interaction design</li>
                <li>user research</li>
                <li>accessibility</li>
                <li>content design</li>
            </ul>
        </div>
    </div>
</section>
<section id="services" aria-labelledby="services-title" class="py-8 md:py-10 lg:py-12 xl:py-14 mt-10">
    <div class="lg:w-2/3">
        <h2 id="services-title"
            class="heading-m mb-4">
            What I do
        </h2>
        <p class="body-l mb-10">
            I help teams make their services more user-friendly, effective and accessible. I focus on putting humans first, understanding their needs and working with organisations to create services that really work for people who use them.
        </p>
        <p class="body-l mb-10">
            Alongside making things simpler for users, I also aim to deliver measurable results and value for the organisations I work with.
        </p>
    </div>
    {% set services = [
            {
                "title": "Service design",
                "description": "This means looking at users' end-to-end journeys, and thinking about how the different services, or parts of a service, work together.",
                "link": {
                    "url": "https://www.gov.uk/guidance/service-designer",
                    "text": "Read more about service design"
                },
                "icon": "map",
                "colour": "text-emerald-600 dark:text-emerald-400"
            },
            {
                "title": "Interaction design",
                "description": "This involves designing the things that people interact with, and the way it responds. It's more detailed than service design, and often focuses on the user interface (UI) and the content (words and images).",
                "link": {
                    "url": "https://www.usability.gov/what-and-why/interaction-design.html",
                    "text": "Read more about interaction design"
                },
                "icon": "sparkles",
                "colour": "text-stone-600 dark:text-stone-400"
            },
            {
                "title": "User research",
                "description": "This means talking to people who use the service, and finding out what they need. It also means testing the service with people to see if it works for them.",
                "link": {
                    "url": "https://www.gov.uk/service-manual/user-research/how-user-research-improves-service-design",
                    "text": "Read more about user research"
                },
                "icon": "user",
                "colour": "text-violet-600 dark:text-violet-400"
            },
            {
                "title": "Accessibility",
                "description": "This means making sure that the service works for people with disabilities, and that it meets the requirements of the law. It includes things like making sure that the service works with screen readers, or that it can be used by people with colour blindness.",
                "link": {
                    "url": "https://accessibility.blog.gov.uk/2016/05/16/what-we-mean-when-we-talk-about-accessibility-2/",
                    "text": "Read more about accessibility"
                },
                "icon": "eye",
                "colour": "text-amber-600 dark:text-amber-400"
            },
            {
                "title": "Content design",
                "description": "This involves making sure that the words used in a service are clear and easy to understand. It also means making sure that the structure of the content is logical, and that users can find what they need.",
                "link": {
                    "url": "https://www.gov.uk/guidance/content-design/what-is-content-design",
                    "text": "Read more about content design"
                },
                "icon": "square-pen",
                "colour": "text-rose-600 dark:text-rose-400"
            }
        ] %}
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-8">
        {% for service in services %}
            <div class="mb-5">
                <h2 class="heading-xs mb-2 flex items-center gap-3 text-gray-900 dark:text-gray-100">
                    <span 
                        class="inline-flex items-center justify-center rounded-full bg-gray-100 dark:bg-zinc-800 border border-gray-200 dark:border-zinc-700 {{ service.colour }} shadow-sm h-10 w-10" 
                        aria-hidden="true"
                    >
                        <i data-lucide="{{ service.icon }}"
                           class="h-5 w-5"
                           aria-hidden="true"></i>
                    </span>
                    <span>{{ service.title }}</span>
                </h2>
                <p class="body-m">{{ service.description }}</p>
                <p class="body-s mt-2">
                    <a href="{{ service.link.url }}"
                       class="text-link inline-flex items-center gap-1"
                       target="_blank"
                       rel="noopener noreferrer">
                        {{ service.link.text }}
                        <svg xmlns="http://www.w3.org/2000/svg"
                             aria-label="Opens in new tab"
                             class="w-4 h-4"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                        </svg>
                        <span class="sr-only">(opens in a new tab)</span>
                    </a>
                </p>
            </div>
        {% endfor %}
    </div>
</section>
<section id="things-ive-done" class="py-8 md:py-10 lg:py-12 xl:py-14">
    <div class="lg:w-2/3">
        <h2 class="heading-m mb-4">Things I've done</h2>
        <p class="body-m mb-4">
            I've provided design services on a wide range of projects, from small websites to large-scale digital transformation programmes. Projects have ranged from greenfield projects to others that have involved replacing legacy systems with new services. Ideally, I'm involved from the very start, but I'm used to being parachuted in to help with a specific problem.
        </p>
        <p class="body-m mb-4">
            Typically, the projects I work on are used by thousands of people every day, from members of the public completing a task online, to civil servants using a system to manage their work. There are too many to list here, but here are a few examples:
        </p>
        <ul class="mb-4 list-disc list-outside pl-5 list-body">
            <li class="mb-2">
                Designed a new service to make it simpler for further education providers to provide learner data to the Education and Skills Funding Agency (ESFA)
            </li>
            <li class="mb-2">
                <a href="projects/home-office"
                   class="text-link">Redesigned the Police National Computer (PNC)</a> to make it easier for police officers to manage stolen property records
            </li>
            <li class="mb-2">
                <a href="projects/hmpps"
                   class="text-link">Designed a service to replace the National Offender Management Service (NOMIS)</a>, allowing prison staff to manage prisoner activities
            </li>
            <li class="mb-2">
                Provided design support to the Apprenticeship Service, helping to improve the service for employers and training providers
            </li>
            <li class="mb-2">
                <a href="projects/childrens-social-care"
                   class="text-link">Collaborated with the Children's Social Care team at the Department for Education</a> to explore how digital tools could make social workers' day-to-day work easier
            </li>
            <li class="mb-2">
                Redesigned the main account home page for the Apprenticeship Service, making it easier for employers to manage their accounts and start taking on apprentices
            </li>
        </ul>
        <p class="body-m">
            You can read more about <a href="/projects"
               class="text-link">projects I've worked on</a> recently.
        </p>
    </div>
</section>
<section id="work-with-me" class="py-8 md:py-10 lg:py-12 xl:py-14">
    <div class="md:w-2/3">
        <h2 class="heading-m mb-4">Work with me</h2>
        <p class="body-m mb-4">
            I'm willing to work with clients in a number of ways, depending on their needs. This can include working:
        </p>
        <ul class="mb-4 list-disc list-outside pl-5 list-body">
            <li class="mb-2">as part of an existing team</li>
            <li class="mb-2">with a team of associates</li>
            <li class="mb-2">with a partner agency</li>
            <li class="mb-2">directly with the client</li>
        </ul>
        <p class="body-m mb-4">
            Although I prefer to work remotely, I can travel to meet clients if needed. I'm conveniently based in the centre of the UK, and can easily travel to London, Birmingham, Manchester, and other major cities.
        </p>
        <p class="body-m mb-4">
            I'm used to working with clients' existing tools and processes, particularly in the Public Sector where security is a priority.
        </p>
    </div>

    <div class="mt-8 rounded-md border border-gray-200 dark:border-gray-700 bg-gray-50 dark:bg-gray-900 p-5 md:p-6">
        <h3 class="heading-s mb-2">Let's discuss your project</h3>
        <p class="body-m mb-3 w-full md:w-3/4 lg:w-2/3">I'll help you understand your users' needs and design services that deliver <span class="font-medium">measurable improvements</span> and <span class="font-medium">return on investment</span>.</p>
        <p class="body-m">
            <a href="/contact" class="text-link">
                Get in touch
            </a>
        </p>
    </div>
</section>
