---
layout: page.njk
title: Projects – Dan Sensecall
permalink: /projects/
eleventyCollections:
    collection: ["project"]
---

<div class="py-8 lg:py-12">
    <div class="max-w-4xl">
        <h1 class="text-2xl md:text-5xl mb-4 leading-tight text-dark dark:text-white font-semibold">Projects I've worked on</h1>
        <p class="mb-4 text-base md:text-xl text-gray-600 dark:text-gray-100 italic">
            Over the years, I've enjoyed working with a wide range of clients, from small local businesses to large international companies.
        </p>
        <p class="mb-4 text-base md:text-lg text-gray-700 dark:text-gray-300">
            The most rewarding work I've done has been within the Public Sector, where I've been able to make a measurable difference to people's lives, and the important jobs done by the people who serve them.
        </p>
        <p class="mb-4 text-base md:text-lg text-gray-700 dark:text-gray-300">
            I have also worked in the private sector, where I've helped businesses including Sainsbury's and npower to meet organisational goals by improving customer experience and increasing conversion rates.
        </p>

        <div class="md:flex md:justify-between md:items-start md:gap-8 mt-12">
            <div class="md:w-1/2 pr-4">
                <h2 class="text-xl md:text-3xl mb-4 font-semibold text-dark dark:text-white">Case studies</h2>
                <p class="mb-4 text-base md:text-lg text-gray-700 dark:text-gray-300">
                    If you'd like to find out more about the type of work I've done, I've written up some short case studies:
                </p>

                <ul class="list-disc pl-5 text-base md:text-lg text-gray-700 dark:text-gray-300">
                    {% for project in collections.project %}
                        <li class="mb-2">
                            <a href="{{ project.url }}" class="text-blue-500 hover:text-primary dark:text-blue-400 dark:hover:text-blue-300 underline">{{ project.data.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <figure class="md:mt-0 mt-8 mb-8 w-full sm:w-2/3 md:w-1/2">
                <img src="/assets/images/workshop.jpeg"
                     class="rounded-lg shadow-md w-full"
                     alt="A photo of a workshop with the digital team at the Apprenticeship Service. The team are sat around a table, with a whiteboard behind them, a laptop and post-it notes are on the table."
                     width="800"
                     height="600">
                <figcaption class="text-xs md:text-sm text-gray-500 dark:text-gray-400 mt-2">
                    A workshop with the team at the Apprenticeship Service
                </figcaption>
            </figure>
        </div>
    </div>
</div>