---
layout: page
title: Freelance Service designer and UX designer, UK – Dan Sensecall
permalink: /service-design/
hide: true
description: How I approach service design projects.
---

{% block content %}
<div class="container mx-auto px-4">
    <div class="py-8 lg:py-12">
        <div class="max-w-4xl">
            <h1 class="text-2xl md:text-5xl mb-4 leading-tight text-dark dark:text-white font-semibold">Service design</h1>
            <p class="mb-4 text-lg md:text-xl text-gray-900 dark:text-gray-100">
                When I join a project as a service design lead, I follow a straightforward but flexible approach, focusing on <b>understanding</b> the problem, users, constraints; <b>designing</b> journeys that are meaningful and useful; and delivering measurable outcomes. Here's how I usually approach a project:
            </p>

            <h2 class="text-xl md:text-3xl mb-4 mt-8 font-semibold text-dark dark:text-white">Understanding the Problem Space</h2>
            <p class="mb-4 text-base md:text-lg text-gray-700 dark:text-gray-300">
                To tackle a project effectively, I collaborate with a team of experts, including user researchers, interaction designers, content designers, analysts, and product managers. Together, we dig deep into research, engage in discussions, and immerse ourselves in the project's context.
            </p>
            <p class="mb-4 text-base md:text-lg text-gray-700 dark:text-gray-300">
                This collaboration helps us identify the core issues, uncover hidden user needs, and spot opportunities for improvement.
            </p>

            <h2 class="text-xl md:text-3xl mb-4 mt-8 font-semibold text-dark dark:text-white">Understanding Users and their Experiences</h2>
            <p class="mb-4 text-base md:text-lg text-gray-700 dark:text-gray-300">
                Empathy is at the heart of what we do. Working closely with user researchers, we make it a priority to thoroughly understand what users actually do. This includes understanding their frustrations and preferences as well as how they behave and interact with the service and their environment.
            </p>
            <p class="mb-4 text-base md:text-lg text-gray-700 dark:text-gray-300">
                We conduct interviews, observe their behaviors, and, where appropriate, involve users in co-design sessions. This helps us to understand the user's context, motivations, and goals.
            </p>

            <h2 class="text-xl md:text-3xl mb-4 mt-8 font-semibold text-dark dark:text-white">Scope and Constraints</h2>
            <p class="mb-4 text-base md:text-lg text-gray-700 dark:text-gray-300">
                Every project comes with limitations, such as technology, time, budget, and future plans. Together with the team, we carefully evaluate these constraints to ensure that our design solutions are not only desirable but also feasible and practical. We strike a balance between user needs and project limitations to deliver effective outcomes.
            </p>

            <h2 class="text-xl md:text-3xl mb-4 mt-8 font-semibold text-dark dark:text-white">End-to-End Journey Across Touchpoints</h2>
            <p class="mb-4 text-base md:text-lg text-gray-700 dark:text-gray-300">
                We don't just focus on individual touchpoints; we look at the entire user journey. Collaborating with interaction designers, we take a holistic approach, considering all the interactions, channels, and touchpoints users encounter. By mapping these journeys and understanding user pain points, we can identify gaps and areas for improvement. Our goal is to create seamless experiences that are consistent across all touchpoints.
            </p>

            <h2 class="text-xl md:text-3xl mb-4 mt-8 font-semibold text-dark dark:text-white">Sharing Progress Frequently</h2>
            <p class="mb-4 text-base md:text-lg text-gray-700 dark:text-gray-300">
                We believe in keeping everyone on the same page. Throughout the project, we maintain regular and transparent communication within the team. We share progress updates, insights, and design iterations, fostering a collaborative environment that encourages feedback and ensures alignment. This allows us to make necessary adjustments and refine our designs based on valuable input from the team.
            </p>

            <h2 class="text-xl md:text-3xl mb-4 mt-8 font-semibold text-dark dark:text-white">Iterating and Improving</h2>
            <p class="mb-4 text-base md:text-lg text-gray-700 dark:text-gray-300">
                Design is an iterative process, and we're all about continuous improvement. We actively seek feedback from users, stakeholders, and our team members, including content designers, analysts, and product managers. By gathering insights and data, we collectively refine and enhance the design, creating experiences that evolve over time. This approach helps us stay adaptable and responsive to changing user needs and market dynamics.
            </p>

            <p class="mb-4 text-base md:text-lg text-gray-700 dark:text-gray-300">
                With this practical and straightforward approach, we work collaboratively with a diverse team to bring a user-centered mindset to service design. Together, we tackle complex problems, create impactful solutions, and deliver experiences that make a real difference.
            </p>
        </div>
    </div>
</div>
{% endblock %}