---
---

<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
{% block body %}

<body class="{{ bodyClasses }}">
    {% block header %}
    {% include "header.html" %}
    {% endblock %}
    {% block main %}
    <main class="container py-5">
        <h1 class="fs-1">
            {{ title }}
        </h1>

        <p class="text-muted fs-5">
            {{ date | niceDate }}
        </p>

        {{ content | safe }}
    </main>
    {% endblock %}
    {% block footer %}
    {% include 'footer.html' %}
    {% endblock %}
</body>
{% endblock %}

</html>